{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Create Category
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row m-3">
        <div class="border mx-auto offset-3 col-md-6 border-success">
        <h1 class="text-center">Create Category Form</h1> <hr>
            <form method="post" action="{% url 'addcategory' %}" class="m-3" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-success m-3 w-100 mx-auto" value="Create Category">
            
            </form>
        </div>
    </div>
</div>
{% endblock content %}