{% extends 'base.html' %}
{% load mycheck %}


{% block title %}
Home
{% endblock %}

{% comment %} body {% endcomment %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <!-- menu item list -->
        <div class="col-lg-2 mt-3 mx-auto">
            <div class="list-group">
                <a href="/" class="list-group-item list-group-item-action active">All Products</a>
                {% for category in categories %}
                <a href="/?category={{category.id}}"
                    class="list-group-item list-group-item-action">{{ category.name }}</a>
                {% endfor %}
            </div>
        </div>

        <!-- all product list -->
        <div class="col-lg-10 mx-auto">
            <div class="row">
                {% for product in products %}
                <div class="col-md-3 col-sm-4" id = {{product.id}}>
                    <div class="card m-2">
                        <a href="{% url 'productdetail' product.id %}">
                        <img src="{{ product.image.url }}" alt="" height="250px" width="250px" class="card-img-top">
                        </a>

                        <div class="card-body">
                            <p>{{product.name}}</p>
                            <p>{{product.price|currency}}/{{product.unit}}</p>
                        </div>
                        <div class="card-footer no-gutters">
                            
                            {% if product|is_in_cart:request.session.cart %}
                            <div class="row">
                                <form action="/#{{product.id}}" class="col-3 p-0 btn btn-block btn-success" method="post">
                                    {% csrf_token %}
                                    <input type="text" hidden name="productid" value="{{product.id}}" id="">
                                    <input type="text" hidden name="remove" value="True" id="">
                                    <input type="submit" class='m-0 btn btn-success  btn-block ' value="-">
                                </form>
                                <div class="border text-center col">{{product|cart_quantity:request.session.cart}} {{product.unit}}</div>
                                <form action="/#{{product.id}}" class="col-3 p-0 btn btn-block btn-success" method="post">
                                    {% csrf_token %}
                                    <input type="text" hidden name="productid" value="{{product.id}}" id="">
                                    <input type="submit" class='btn btn-success  btn-block ' value="+">
                                </form>
                            </div>
                            {% else %}
                            <form action="/#{{product.id}}" class="btn-block" method="post">
                                {% csrf_token %}
                                <input type="text" hidden name="productid" value="{{product.id}}" id="">
                                <input type="submit" class='btn btn-success  btn-block ' value="Add to Card">
                            </form>
                            {% endif %}

                        </div>
                    </div>
                </div>
                {% empty %}
                <h1 class="mt-2 text-center text-danger">{{ message }}</h1>
                {% endfor %}

                 <!-- paginator -->
              <div class="container"><br>
                {% if products.has_other_pages %}
                <ul class="pagination justify-content-center ">
                  {% if products.has_previous %}
                    <li class="page-item"><a class="page-link" href="?productview={{ products.previous_page_number }}">Previous</a></li>
                  {% else %}
                    <li class="page-item"><a class="page-link disabled" href="javascript:void(0);">Previous</a></li>
                  {% endif %}
                  {% for i in products.paginator.page_range %}
                  {% if products.number == i %}
                  <li class="page-item"><a class="page-link active bg-danger text-light" href="javascript:void(0);">{{ i }}</a></li>
                  {% else %}
                  <li class="page-item"><a class="page-link" href="?productview={{ i }}">{{ i }}</a></li>
                  {% endif %}
                  {% endfor %}
                  {% if products.has_next %}
                  <li class="page-item"><a class="page-link" href="?productview={{ products.next_page_number }}">Next</a></li>
                  {% else %}
                  <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
                  {% endif %}
                </ul>
                {% endif %}<br>
              </div>
            <!-- end paginator -->

            </div>
        </div>
    </div>
</div>

{% endblock %}
